* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common các class có thể tái sử dụng */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    /* max-width ở đây là khi co trình duyệt nó bé
    hơn width thì nó sẽ chiếm 100% và - 24px mỗi bên*/
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

/* ========== Header ==========*/
.header {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}

.navbar {
    padding-top: 38px;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 49px;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    padding: 8px 15px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.actions .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.actions .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.018rem;
}

.hero .title {
    margin-top: 8px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
}

.hero .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    /*
    Đoạn right ở đây tính toán vì k lên fix cứng , nó sẽ luôn cách bên phải
    100px tính từ cái nút sign up
    */
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ========== Clients ==========*/
.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0 5px;
}

.clients .active {
    width: 204px;
    height: 91px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* ========== Guides ==========*/
.guides {
    margin-top: 200px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    margin: 20px auto 0;
    width: 460px;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

/* ========== List guide ==========*/
.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    text-align: center;
    margin: 26px 70px 0;
}

.guide-item .title {
    color: #3b3c45;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-item .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .link:hover {
    text-decoration: underline;
}

.guide-item .arrow {
    margin-left: 8px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}
