* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common các class có thể tái sử dụng */
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    /* max-width ở đây là khi co trình duyệt nó bé
    hơn width thì nó sẽ chiếm 100% và - 24px mỗi bên*/
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Làm cái này để giới hạn dòng */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ========== Header ==========*/
.header-fixed {
    position: sticky;
    top: -26px;
    padding-top: 26px;
    background-color: #e6f0ff;
    z-index: 1;
}
.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #e6f0ff;
    height: calc(100vh - 90px);
}

.navbar {
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin-left: 49px;
}

.navbar ul a {
    color: #4f5361;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    padding: 8px 15px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
}

.actions .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.actions .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero-wrap .info {
    width: 51%;
}

.hero-wrap .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.018rem;
}

.hero-wrap .title {
    margin-top: 8px;
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19; /* 118.75% */
}

.hero-wrap .desc {
    margin-top: 30px;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    /*
    Đoạn right ở đây tính toán vì k lên fix cứng , nó sẽ luôn cách bên phải
    100px tính từ cái nút sign up
    */
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ========== Clients ==========*/
.clients {
    margin-top: 79px;
    padding: 43px 0 64px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.clients .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    padding: 0 5px;
}

.clients .images a {
    padding: 0 42px;
    height: 90px;
    border-radius: 12px;
}

.clients .images a:hover {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

/* ========== Guides ==========*/
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    color: #000339;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    margin: 20px auto 0;
    width: 460px;
    max-width: 100%;
    color: #5a6473;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

/* ========== List guide ==========*/
.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    text-align: center;
    margin: 26px 70px 0;
}

.guide-item .title {
    margin-top: 26px;
    color: #3b3c45;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.guide-item .link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.guide-item .link:hover {
    text-decoration: underline;
}

.guide-item .arrow {
    margin-left: 8px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ========== Featured ==========*/
.featured {
    background: #f5fafe;
    margin-top: 41px;
    padding: 110px 0;
}

.featured .sub-title {
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.featured .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.featured .link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #0689ff;
    font-size: 1.4rem;
    font-weight: 600;
}

.featured .link .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.featured .item {
    flex: 1;
}

.featured .item .thumb {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.featured .item .title a {
    color: #000339;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.featured .item .desc {
    --line-clamp: 3;
    /* word-beark ở đây khi mà ng dùng nhập 1 chuỗi mà ko có dấu cách thì nó sẽ break xuống hàng khi đến giới hạn */
    word-break: break-all;
    margin-top: 11px;
    color: #a3a6ab;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .info .icon {
    margin-left: 23px;
}

.featured .info .icon:first-child {
    margin-left: 0;
}

.featured .info .lable {
    margin-left: 8px;
    color: #4d4d52;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0.014rem;
}

/* ========== Stats ==========*/
.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .content {
    width: 1017px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .images {
    border-radius: 12px;
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px;
    border-radius: 0 0 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0 rgba(0, 0, 0, 0.06);
}

.stats-trend .value {
    color: #000339;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.026rem;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats .avatar-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    gap: 16px 14px;
}

.stats .avatar-group {
    display: flex;
}

.stats .avatar-group .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    color: #fff;
    font-size: 0.7261rem;
    font-weight: 450;
    letter-spacing: -0.0145rem;
    margin-left: -3px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.stats .avatar:first-child {
    margin-left: 0;
}

.stats .avatar-box {
    --bg-color: #24d6d9;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .title {
    position: relative;
    width: 269px;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28; /* 128.571% */
}

.stats .info .title::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.stats .row-qty {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 32px;
}

.stats .qty-item .qty-title {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
}

.stats .qty-item .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}

/* ========== Subscription ==========*/
.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
    position: relative;
}

.subscription .info {
    padding: 0 80px;
    width: 671px;
    max-width: 100%;
}

.subscription .title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5; /* 100% */
}

.subscription .desc {
    --line-clamp: 3;
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.subscription .btn {
    margin-top: 20px;
    color: #002366;
    min-width: 150px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    background: #fff;
}

.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ========== Footer ==========*/
.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
}

.footer .row-top {
    gap: 185px;
}
.footer .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
}
.footer .title {
    color: #1c1c1d;
    font-family: "lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.footer .desc,
.footer .list {
    margin-top: 42px;
}

.footer .desc,
.footer .link {
    display: block;
    margin-top: 18px;
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    margin-top: 40px;
    line-height: 1.75; /* 175% */
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.footer .social-link:first-child {
    margin-left: 0;
}

.footer .social-link:hover {
    background-color: #ebebeb;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
